.register-container {
  height: 100% !important;
}

.login-container {
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  padding: 0 !important;
}
.login-container .inside {
  width: 100%;
}
.login-container .left-register-container {
  padding: 100px 0px;
}
.login-container .left-container {
  background-color: #01012B;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container .left-container .inner-left {
  width: 30%;
}
.login-container .left-container h1 {
  font-size: 32px;
  width: 90%;
}
.login-container .left-container .form-login {
  margin-top: 60px;
}
.login-container .left-container .form-login * {
  font-family: "Rubik" !important;
}
.login-container .left-container .form-login p {
  margin-top: 20px !important;
}
.login-container .left-container .form-login p a b {
  font-family: "Rubik" !important;
  color: #ffffff;
}
.login-container .left-container .form-login .form-control {
  font-family: "Rubik" !important;
  border-radius: 10px;
  padding: 10px 10px;
}
.login-container .left-container .form-login .btn-login {
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  width: 100%;
  background-color: #FF124F;
}
.login-container .right-container {
  background-image: url("/assets/img/background-login.jpg");
  background-size: cover;
}

@media only screen and (max-width: 770px) {
  .login-container {
    display: flex;
    flex-direction: column;
  }

  .register-container {
    height: 120vh !important;
  }

  .left-register-container {
    height: 120vh !important;
    padding: 130px 40px !important;
  }

  .left-login-container {
    height: 100vh !important;
  }

  .left-container {
    padding: 0px 30px;
  }
  .left-container .inner-left {
    width: 100% !important;
  }
  .left-container h1 {
    font-size: 18px !important;
    width: 100%;
  }
  .left-container p {
    font-size: 8px;
  }
  .left-container .form-login {
    font-family: "Rubik" !important;
    margin-top: 30px;
  }
  .left-container .form-login p {
    font-size: 9px;
    margin-top: 20px !important;
  }
  .left-container .form-login p a b {
    font-family: "Rubik" !important;
    color: #ffffff;
  }
  .left-container .form-login .form-control {
    font-family: "Rubik" !important;
    border-radius: 8px !important;
    padding: 5px 10px !important;
  }
  .left-container .form-login .btn-login {
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
    width: 100%;
    background-color: #FF124F;
  }

  .right-container {
    display: none;
  }
}
.seminar-container {
  padding-bottom: 0px !important;
}
.seminar-container * {
  color: black;
}
.seminar-container .breadcrumb {
  background-color: #ffffff;
  font-size: 16px;
}
.seminar-container .breadcrumb * {
  font-family: "Rubik" !important;
}
.seminar-container nav {
  padding: 0 !important;
  margin: 0 !important;
}
.seminar-container nav ol {
  padding: 0 !important;
  margin: 0 !important;
}
.seminar-container h1 {
  padding-top: 10px;
  font-family: "Russo One" !important;
  font-size: 24px;
}
.seminar-container .contact-person {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.seminar-container .contact-person p {
  font-size: 12px;
}
.seminar-container .contact-person .container-btn-cp .btn-cp {
  border: none;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00E676 !important;
  width: 100%;
  display: flex;
  font-size: 12px;
  margin-right: 10px;
}
.seminar-container .contact-person .container-btn-cp .btn-cp i {
  color: #ffffff;
  margin-right: 10px;
}
.seminar-container .contact-person .container-btn-cp .btn-cp p {
  font-family: "Rubik" !important;
  color: #ffffff;
}
.seminar-container .contact-person .container-btn-cp .btn-cp p * {
  color: #ffffff;
}
.seminar-container .contact-person .container-btn-cp .btn-cp :active {
  width: 180px;
}

.content-seminar {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.content-seminar * {
  color: black;
}
.content-seminar .container {
  display: flex;
  flex-direction: row;
  padding: 0 !important;
}
.content-seminar .container .left-seminar {
  width: 50%;
  padding: 10px;
}
.content-seminar .container .left-seminar img {
  width: 100%;
  object-fit: cover;
  border: 1px solid #aaa;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.05);
}
.content-seminar .container .right-seminar {
  width: 50%;
  padding: 10px;
}
.content-seminar .container .right-seminar h1 {
  font-family: "Rubik" !important;
  font-size: 32px;
}
.content-seminar .container .right-seminar p {
  font-size: 12px;
  margin-bottom: 10px !important;
}
.content-seminar .container .right-seminar small {
  font-family: "Rubik" !important;
}

.narasumber * {
  color: #232323;
}
.narasumber .c-n {
  display: flex;
  flex-direction: row;
}
.narasumber .inner-narasumber {
  margin-right: 10px;
  width: 250px;
  display: flex;
}
.narasumber .inner-narasumber .circle {
  width: 50%;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
}
.narasumber .inner-narasumber div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 10px;
}
.narasumber .inner-narasumber div h4 {
  font-size: 12px;
  width: 100%;
  text-align: left;
}
.narasumber .inner-narasumber div p {
  width: 100%;
  text-align: left;
  font-size: 10px;
}

.btn-seminar {
  padding: 0px 200px !important;
}
.btn-seminar .btn-primary {
  font-family: "Rubik" !important;
  width: 100%;
  font-weight: bold;
}

.btn-seminar a {
  background-color: #01012B;
}
.btn-seminar :hover {
  background-color: #2A2A64;
}
.btn-seminar :active {
  background-color: #2A2A64;
}
.btn-seminar :visited {
  background-color: #2A2A64;
}

@media only screen and (max-width: 998px) {
  .seminar-container * {
    color: black;
  }
  .seminar-container hr {
    margin: 80px 20px !important;
  }
  .seminar-container .breadcrumb {
    background-color: #ffffff;
    font-size: 10px;
  }
  .seminar-container .breadcrumb * {
    font-family: "Rubik" !important;
  }
  .seminar-container nav {
    padding: 0 !important;
    margin: 0 !important;
  }
  .seminar-container nav ol {
    padding: 0 !important;
    margin: 0 !important;
  }
  .seminar-container h1 {
    padding-top: 10px;
    font-family: "Russo One" !important;
    font-size: 24px;
  }
  .seminar-container .contact-person {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .seminar-container .contact-person p {
    font-size: 8px;
  }
  .seminar-container .contact-person .container-btn-cp .btn-cp {
    border: none;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00E676 !important;
    width: 100%;
    display: flex;
    font-size: 12px;
    margin-right: 10px;
  }
  .seminar-container .contact-person .container-btn-cp .btn-cp i {
    color: #ffffff;
    margin-right: 10px;
  }
  .seminar-container .contact-person .container-btn-cp .btn-cp p {
    font-family: "Rubik" !important;
    color: #ffffff;
  }
  .seminar-container .contact-person .container-btn-cp .btn-cp p * {
    color: #ffffff;
  }
  .seminar-container .contact-person .container-btn-cp .btn-cp :active {
    width: 180px;
  }

  .content-seminar {
    padding: 0px 20px !important;
  }
  .content-seminar * {
    color: black;
  }
  .content-seminar .container {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
  }
  .content-seminar .container .left-seminar {
    width: 100%;
    padding: 10px;
  }
  .content-seminar .container .left-seminar img {
    width: 100%;
    object-fit: cover;
    border: 1px solid #aaa;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.05);
  }
  .content-seminar .container .right-seminar {
    width: 100%;
    padding: 10px;
    padding-top: 30px;
  }
  .content-seminar .container .right-seminar h1 {
    font-family: "Rubik" !important;
    font-size: 32px;
  }
  .content-seminar .container .right-seminar p {
    padding-top: 30px;
    font-size: 12px;
    margin-bottom: 10px !important;
  }
  .content-seminar .container .right-seminar small {
    font-family: "Rubik" !important;
  }

  .narasumber * {
    color: #232323;
  }
  .narasumber .c-n {
    display: flex;
    flex-direction: column;
  }
  .narasumber .inner-narasumber {
    margin-right: 10px;
    width: 100px;
    display: flex;
    flex-direction: column;
  }
  .narasumber .inner-narasumber .circle {
    width: 100%;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
  }
  .narasumber .inner-narasumber div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 10px;
  }
  .narasumber .inner-narasumber div h4 {
    font-size: 12px;
    width: 100%;
    text-align: center;
  }
  .narasumber .inner-narasumber div p {
    width: 100%;
    text-align: center;
    font-size: 10px;
  }

  .btn-seminar {
    padding: 0px 20px !important;
  }
  .btn-seminar .btn-primary {
    font-family: "Rubik" !important;
    width: 100%;
    font-weight: bold;
  }
}
.lomba-container {
  padding-bottom: 0px !important;
}
.lomba-container * {
  color: black;
}
.lomba-container .breadcrumb {
  background-color: #ffffff;
  font-size: 16px;
}
.lomba-container .breadcrumb * {
  font-family: "Rubik" !important;
}
.lomba-container nav {
  padding: 0 !important;
  margin: 0 !important;
}
.lomba-container nav ol {
  padding: 0 !important;
  margin: 0 !important;
}
.lomba-container h1 {
  padding-top: 10px;
  font-family: "Russo One" !important;
  font-size: 24px;
}
.lomba-container .contact-person {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.lomba-container .contact-person p {
  font-size: 12px;
}
.lomba-container .contact-person .container-btn-cp .btn-cp {
  border: none;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00E676 !important;
  width: 100%;
  display: flex;
  font-size: 12px;
  margin-right: 10px;
}
.lomba-container .contact-person .container-btn-cp .btn-cp i {
  color: #ffffff;
  margin-right: 10px;
}
.lomba-container .contact-person .container-btn-cp .btn-cp p {
  font-family: "Rubik" !important;
  color: #ffffff;
}
.lomba-container .contact-person .container-btn-cp .btn-cp p * {
  color: #ffffff;
}
.lomba-container .contact-person .container-btn-cp .btn-cp :active {
  width: 180px;
}

.content-lomba {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.content-lomba * {
  color: #01012B;
}
.content-lomba .container {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: row;
  padding: 0 !important;
}
.content-lomba .container .left-lomba {
  width: 50%;
  padding: 10px;
}
.content-lomba .container .left-lomba img {
  width: 100%;
  object-fit: cover;
  border: 1px solid #aaa;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.05);
}
.content-lomba .container .right-lomba {
  width: 80%;
  padding: 10px;
  padding-top: 50px !important;
}
.content-lomba .container .right-lomba h1 {
  font-family: "Rubik" !important;
  font-size: 32px;
}
.content-lomba .container .right-lomba p {
  font-size: 12px;
  margin-bottom: 10px !important;
}
.content-lomba .container .right-lomba small {
  font-family: "Rubik" !important;
}

.btn-lomba {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  padding: 0px 200px !important;
  padding-top: 50px !important;
}
.btn-lomba .btn-primary {
  font-family: "Rubik" !important;
  width: 100%;
  font-weight: bold;
  margin-top: 20px;
}

.btn-lomba a {
  background-color: #01012B;
}
.btn-lomba :hover {
  background-color: #2A2A64;
}
.btn-lomba :active {
  background-color: #2A2A64;
}
.btn-lomba :visited {
  background-color: #2A2A64;
}

.timeline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.timeline-container * {
  color: #01012B;
}
.timeline-container h1 {
  width: 90% !important;
  font-size: 32px;
  text-align: left;
  margin-bottom: 20px;
}
.timeline-container .timelines {
  width: 90% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.c-timline {
  padding: 0 !important;
}

.content-timeline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline {
  border-left: 3px solid #727cf5;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(114, 124, 245, 0.09);
  letter-spacing: 0.2px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  max-width: 50%;
}

@media (max-width: 767px) {
  .timeline {
    max-width: 98%;
    padding: 25px;
  }
}
.timeline h1 {
  font-weight: 300;
  font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 10px;
}

.timeline .event {
  border-bottom: 1px dashed #e8ebf1;
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}

@media (max-width: 767px) {
  .timeline .event {
    padding-top: 30px;
  }
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .event:before {
  left: -207px;
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}

@media (max-width: 767px) {
  .timeline .event:before {
    left: 0px;
    text-align: left;
  }
}
.timeline .event:after {
  -webkit-box-shadow: 0 0 0 3px #727cf5;
  box-shadow: 0 0 0 3px #727cf5;
  left: -55.8px;
  background: #fff;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  content: "";
  top: 5px;
}

@media (max-width: 767px) {
  .timeline .event:after {
    left: -31.8px;
  }
}
.rtl .timeline {
  border-left: 0;
  text-align: right;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
  left: 0;
  right: -170px;
}

.rtl .timeline .event::after {
  left: 0;
  right: -55.8px;
}

@media only screen and (max-width: 998px) {
  .lomba-container * {
    color: black;
  }
  .lomba-container hr {
    margin: 80px 20px !important;
  }
  .lomba-container .breadcrumb {
    background-color: #ffffff;
    font-size: 10px;
  }
  .lomba-container .breadcrumb * {
    font-family: "Rubik" !important;
  }
  .lomba-container nav {
    padding: 0 !important;
    margin: 0 !important;
  }
  .lomba-container nav ol {
    padding: 0 !important;
    margin: 0 !important;
  }
  .lomba-container h1 {
    padding-top: 10px;
    font-family: "Russo One" !important;
    font-size: 24px;
  }
  .lomba-container .contact-person {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .lomba-container .contact-person p {
    font-size: 8px;
  }
  .lomba-container .contact-person .container-btn-cp .btn-cp {
    border: none;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00E676 !important;
    width: 100%;
    display: flex;
    font-size: 12px;
    margin-right: 10px;
  }
  .lomba-container .contact-person .container-btn-cp .btn-cp i {
    color: #ffffff;
    margin-right: 10px;
  }
  .lomba-container .contact-person .container-btn-cp .btn-cp p {
    font-family: "Rubik" !important;
    color: #ffffff;
  }
  .lomba-container .contact-person .container-btn-cp .btn-cp p * {
    color: #ffffff;
  }
  .lomba-container .contact-person .container-btn-cp .btn-cp :active {
    width: 180px;
  }

  .content-lomba {
    padding: 0px 20px !important;
  }
  .content-lomba * {
    color: black;
  }
  .content-lomba .container {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
  }
  .content-lomba .container .left-lomba {
    width: 100%;
    padding: 10px;
  }
  .content-lomba .container .left-lomba img {
    width: 100%;
    object-fit: cover;
    border: 1px solid #aaa;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.05);
  }
  .content-lomba .container .right-lomba {
    width: 100%;
    padding: 10px;
    padding-top: 30px;
    margin-top: -30px;
  }
  .content-lomba .container .right-lomba h1 {
    font-family: "Rubik" !important;
    font-size: 32px;
  }
  .content-lomba .container .right-lomba p {
    padding-top: 30px;
    font-size: 12px;
    margin-bottom: 10px !important;
  }
  .content-lomba .container .right-lomba small {
    font-family: "Rubik" !important;
  }

  .narasumber * {
    color: #232323;
  }
  .narasumber .c-n {
    display: flex;
    flex-direction: column;
  }
  .narasumber .inner-narasumber {
    margin-right: 10px;
    width: 100px;
    display: flex;
    flex-direction: column;
  }
  .narasumber .inner-narasumber .circle {
    width: 100%;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
  }
  .narasumber .inner-narasumber div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 10px;
  }
  .narasumber .inner-narasumber div h4 {
    font-size: 12px;
    width: 100%;
    text-align: center;
  }
  .narasumber .inner-narasumber div p {
    width: 100%;
    text-align: center;
    font-size: 10px;
  }

  .btn-lomba {
    padding: 0px 20px !important;
  }
  .btn-lomba .btn-primary {
    font-family: "Rubik" !important;
    width: 100%;
    font-weight: bold;
  }
}
.dashboard {
  color: red;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  font-family: "Rubik" !important;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
.dashboard-container {
  padding-bottom: 0px !important;
}
.dashboard-container .das-container {
  text-align: left;
}
.dashboard-container * {
  color: black;
}
.dashboard-container .breadcrumb {
  width: 100%;
  background-color: #ffffff;
  font-size: 16px;
}
.dashboard-container .breadcrumb * {
  font-family: "Rubik" !important;
}
.dashboard-container nav {
  padding: 0 !important;
  margin: 0 !important;
}
.dashboard-container nav ol {
  padding: 0 !important;
  margin: 0 !important;
}
.dashboard-container h1 {
  width: 100%;
  padding-top: 10px;
  font-family: "Russo One" !important;
  font-size: 24px;
}

.dashboard-menu {
  font-weight: bold;
}

.btn-dashboard {
  display: flex;
  justify-content: left;
  align-items: left;
  width: 100%;
  padding-top: 50px;
}

.btn-modal {
  font-family: "Rubik" !important;
  color: #ffffff;
  font-weight: bold;
  background-color: #01012B;
  padding: 15px !important;
  margin-right: 20px;
}
.btn-modal .fa-plus {
  color: #ffffff;
  margin-left: 10px;
}

.btn-announce {
  border: 1px solid #aaa;
  font-family: "Rubik" !important;
  color: #01012B;
  font-weight: bold;
  background-color: #ffffff;
  padding: 15px !important;
}
.btn-announce .fa-angle-right {
  color: #01012B;
  margin-left: 20px !important;
}

.btn-announce:hover {
  background-color: #ffffff;
  border: 1px solid #aaa;
  font-family: "Rubik" !important;
  color: #01012B;
  font-weight: bold;
  background-color: #ffffff;
  padding: 15px !important;
}
.btn-announce:hover .fa-plus {
  color: #01012B;
  margin-left: 10px;
}

.btn-announce:active {
  background-color: #ffffff !important;
  border: 1px solid #aaa;
  font-family: "Rubik" !important;
  color: #01012B !important;
  font-weight: bold;
  padding: 15px !important;
}
.btn-announce:active .fa-plus {
  color: #01012B !important;
  margin-left: 10px;
}

.content-dashboard {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-dashboard .inner-content-dashboard {
  padding-top: 150px;
  width: 90%;
}
.content-dashboard .inner-content-dashboard .option-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #01012B;
  font-family: "Rubik" !important;
  color: #ffffff !important;
  padding: 30px;
  border-radius: 5px;
}
.content-dashboard .inner-content-dashboard .option-content p {
  font-weight: bold;
}
.content-dashboard .inner-content-dashboard .option-content a {
  margin-left: auto !important;
  margin-right: 0px !important;
  font-family: "Rubik" !important;
  background-color: #FF124F;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 5px;
}
.content-dashboard .inner-content-dashboard .not-found-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  font-family: "Rubik" !important;
  color: #01012B !important;
  padding: 50px;
  border-radius: 5px;
  position: relative;
}
.content-dashboard .inner-content-dashboard .not-found-content p {
  font-weight: bold;
}

.modal * {
  font-family: "Rubik" !important;
  color: #ffffff;
}
.modal .modal-content {
  background-color: #01012B;
}
.modal .modal-content .inner-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .modal-content .inner-body .input-form {
  margin-right: 10px;
}
.modal .modal-content .inner-body .input-form input {
  background-color: #010132;
  border: none;
  color: #ffffff;
}
.modal .modal-content .inner-body .input-form ::placeholder {
  color: #404088;
  font-size: 12px;
  font-weight: 200;
}
.modal .modal-content .inner-body .input-form p {
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 10px !important;
}
.modal .modal-content .modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .modal-content .modal-footer .btn-daftar {
  background-color: #FF124F;
}

.modal-ann * {
  font-family: "Rubik" !important;
  color: #010132;
}
.modal-ann .modal-content {
  background-color: #ffffff;
}
.modal-ann .modal-content .content-ann {
  margin-top: 15px;
}
.modal-ann .modal-content .content-ann .title {
  font-size: 14px;
}
.modal-ann .modal-content .content-ann .title * {
  color: #585858 !important;
}
.modal-ann .modal-content .content-ann p {
  font-size: 12px;
}

@media only screen and (max-width: 998px) {
  .dashboard {
    color: red;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    font-family: "Rubik" !important;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  #main {
    transition: margin-left 0.5s;
    padding: 16px;
  }
}
@media only screen and (max-width: 998px) and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
@media only screen and (max-width: 998px) {
  .dashboard-container {
    padding-bottom: 0px !important;
  }
  .dashboard-container .das-container {
    text-align: left;
  }
  .dashboard-container * {
    color: black;
  }
  .dashboard-container .breadcrumb {
    width: 100%;
    background-color: #ffffff;
    font-size: 8px;
  }
  .dashboard-container .breadcrumb * {
    font-family: "Rubik" !important;
  }
  .dashboard-container nav {
    padding: 0 !important;
    margin: 0 !important;
  }
  .dashboard-container nav ol {
    padding: 0 !important;
    margin: 0 !important;
  }
  .dashboard-container h1 {
    width: 100%;
    padding-top: 10px;
    font-family: "Russo One" !important;
    font-size: 24px;
  }
}
@media only screen and (max-width: 998px) {
  .dashboard-menu {
    font-weight: bold;
  }
}
@media only screen and (max-width: 998px) {
  .btn-dashboard {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    width: 100%;
    padding-top: 50px;
  }
}
@media only screen and (max-width: 998px) {
  .btn-modal {
    font-family: "Rubik" !important;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
    background-color: #01012B;
    padding: 15px !important;
    margin-right: 20px;
  }
  .btn-modal .fa-plus {
    color: #ffffff;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 998px) {
  .btn-announce {
    border: 1px solid #aaa;
    font-family: "Rubik" !important;
    color: #01012B;
    font-weight: bold;
    background-color: #ffffff;
    padding: 15px !important;
  }
  .btn-announce .fa-angle-right {
    color: #01012B;
    margin-left: 20px !important;
  }
}
@media only screen and (max-width: 998px) {
  .btn-announce:hover {
    background-color: #ffffff;
    border: 1px solid #aaa;
    font-family: "Rubik" !important;
    color: #01012B;
    font-weight: bold;
    background-color: #ffffff;
    padding: 15px !important;
  }
  .btn-announce:hover .fa-plus {
    color: #01012B;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 998px) {
  .btn-announce:active {
    background-color: #ffffff !important;
    border: 1px solid #aaa;
    font-family: "Rubik" !important;
    color: #01012B !important;
    font-weight: bold;
    padding: 15px !important;
  }
  .btn-announce:active .fa-plus {
    color: #01012B !important;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 998px) {
  .content-dashboard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-dashboard .inner-content-dashboard {
    padding-top: 150px;
    width: 90%;
  }
  .content-dashboard .inner-content-dashboard .option-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #01012B;
    font-family: "Rubik" !important;
    color: #ffffff !important;
    padding: 30px;
    border-radius: 5px;
  }
  .content-dashboard .inner-content-dashboard .option-content p {
    font-weight: bold;
    width: 100%;
    margin-bottom: 25px !important;
    text-align: center;
  }
  .content-dashboard .inner-content-dashboard .option-content a {
    text-align: center;
    margin-left: auto !important;
    margin-right: 0px !important;
    font-family: "Rubik" !important;
    background-color: #FF124F;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 12px;
    width: 100%;
  }
  .content-dashboard .inner-content-dashboard .not-found-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    font-family: "Rubik" !important;
    color: #01012B !important;
    padding: 50px;
    border-radius: 5px;
    position: relative;
  }
  .content-dashboard .inner-content-dashboard .not-found-content p {
    font-weight: bold;
  }
}
@media only screen and (max-width: 998px) {
  .modal * {
    font-family: "Rubik" !important;
    color: #ffffff;
  }
  .modal .modal-content {
    background-color: #01012B;
  }
  .modal .modal-content .inner-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .modal .modal-content .inner-body .input-form {
    margin-right: 10px;
  }
  .modal .modal-content .inner-body .input-form input {
    background-color: #010132;
    border: none;
    color: #ffffff;
  }
  .modal .modal-content .inner-body .input-form ::placeholder {
    color: #404088;
    font-size: 12px;
    font-weight: 200;
  }
  .modal .modal-content .inner-body .input-form p {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px !important;
  }
  .modal .modal-content .modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal .modal-content .modal-footer .btn-daftar {
    background-color: #FF124F;
  }
}
@media only screen and (max-width: 998px) {
  .modal-ann * {
    font-family: "Rubik" !important;
    color: #010132;
  }
  .modal-ann .modal-content {
    background-color: #ffffff;
  }
  .modal-ann .modal-content .content-ann {
    margin-top: 15px;
  }
  .modal-ann .modal-content .content-ann .title {
    font-size: 14px;
  }
  .modal-ann .modal-content .content-ann .title * {
    color: #585858 !important;
  }
  .modal-ann .modal-content .content-ann p {
    font-size: 12px;
  }
}
* {
  font-family: "Russo One";
}

html {
  scroll-behavior: smooth;
}

.active {
  font-weight: 900 !important;
  color: #01012B !important;
}

p {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Rubik" !important;
}

.text-top {
  font-size: 10px;
  text-align: left;
  padding: 0 !important;
  font-family: "Rubik" !important;
}

.nav-top {
  padding: 10px 20px !important;
}

.custom-container {
  width: 100%;
  color: #ffffff;
  padding: 80px 0px;
}

/* ============================ */
/* ========= Button =========== */
/* ============================ */
/* ============================ */
/* ========= card =========== */
/* ============================ */
.card-beranda {
  display: flex;
  flex-direction: column;
  border: 1px solid #aaa;
  width: 50%;
  height: 90%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}
.card-beranda .img-card {
  width: 100%;
  height: 80%;
  background-image: url("/assets/img/img-404.jpg");
  background-size: cover;
  object-fit: cover;
}
.card-beranda a {
  padding-top: 20px;
  text-align: center;
  width: 100% !important;
  height: 20%;
  font-family: "Rubik" !important;
  font-weight: bold;
}

/* ============================ */
/* ========= Corrousl =========== */
/* ============================ */
.carousel-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  margin-right: 10px;
}

.carousel-cell.size-180 {
  width: 180px;
}

.carousel-cell.size-large {
  width: 75%;
}

/* ============================ */
/* ========= NAVBAR =========== */
/* ============================ */
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  color: #232323 !important;
}

.navbar-brand {
  font-size: 20px;
  color: #01012B !important;
}

.nav-link {
  font-weight: lighter;
  font-family: "Rubik" !important;
  color: #01012B;
}

.nav-link:hover {
  color: #01012B;
}

.navbar {
  padding: 20px 20px !important;
  background-color: #ffffff;
}
.navbar .login {
  font-weight: bold;
  color: #01012B !important;
  padding: 10px !important;
  text-align: center;
  margin-right: 20px;
}
.navbar .register {
  text-align: center;
  font-weight: bold;
  color: #ffffff !important;
  background-color: #01012B;
  padding: 10px !important;
  border-radius: 10px;
}
.navbar .dashboard-akun {
  text-align: center;
  font-weight: bold;
  color: #ffffff !important;
  background-color: #01012B;
  padding: 10px !important;
  border-radius: 10px;
}
.navbar .logout {
  color: red;
  text-align: left;
  font-weight: bold;
  padding: 10px !important;
  border-radius: 10px;
}

/* ============================ */
/* ========= HERO =========== */
/* ============================ */
.hero {
  height: 80vh;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .col1 .inner-container .col1-1 {
  text-align: right;
}
.container .col1 .inner-container .col1-1 p {
  font-size: 12px;
}
.container .col1 .inner-container .col1-1 h1 {
  font-size: 54px;
  margin-bottom: 30px;
}
.container .col1 .inner-container .col1-1 .btn-explore {
  cursor: pointer !important;
  color: #ffffff !important;
  background-color: #232323;
  font-family: "Rubik" !important;
  font-size: 14px;
  padding: 13px 28px;
  border-bottom-left-radius: 25px;
}
.container .col2 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
.container .col2 .inner-container img {
  max-width: 180px;
}
.container .inner-hero {
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 32px;
}
.container .inner-hero a {
  color: #232323;
}

/* ============================ */
/* ========= Content =========== */
/* ============================ */
.content-1 {
  background-color: #01012B;
}
.content-1 h1 {
  text-align: left;
  width: 100%;
  padding-right: 50%;
  font-size: 54px;
}
.content-1 p {
  font-size: 15px;
}

.content-2 {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.content-2 .inner-content-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #D20244;
  padding: 120px 0px;
}
.content-2 .inner-content-left h1 {
  font-size: 60px;
  width: 70%;
}
.content-2 .inner-content-right {
  color: #232323;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-2 .inner-content-right .main-carousel {
  width: 80%;
}

.content-3 {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.content-3 .inner-content-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #232323;
  padding: 120px 0px;
}
.content-3 .inner-content-right h1 {
  font-size: 60px;
  width: 70%;
}
.content-3 .inner-content-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.content-3 .inner-content-left .second-carousel {
  width: 80%;
}

footer {
  background-color: #ffffff;
  padding: 40px 0px;
  text-transform: uppercase;
  width: 100%;
}
footer .container {
  display: flex;
  flex-direction: row;
}
footer .left {
  width: 100%;
}
footer .right {
  width: 100%;
}
footer .right .sosmed {
  font-size: 24px !important;
  display: flex;
}
footer .right .sosmed a {
  font-family: "Rubik" !important;
  text-align: right !important;
  color: #232323;
  margin-right: 5px;
  font-size: 14px;
}

@media only screen and (max-width: 998px) {
  .card-beranda {
    display: flex;
    flex-direction: column;
    border: 1px solid #aaa;
    width: 90%;
    height: 90%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  }
  .card-beranda .img-card {
    width: 100%;
    height: 80%;
    background-image: url("/assets/img/img-404.jpg");
    background-size: cover;
    object-fit: cover;
  }
  .card-beranda a {
    padding-top: 20px;
    text-align: center;
    width: 100% !important;
    height: 20%;
    font-family: "Rubik" !important;
    font-weight: bold;
  }

  .nav-link {
    font-size: 12px;
  }

  .navbar-brand {
    font-size: 14px;
  }

  .navbar .login {
    font-weight: bold;
    color: #01012B !important;
    padding: 10px !important;
    text-align: center;
    margin-right: 0px;
  }
  .navbar .register {
    text-align: center;
    font-weight: bold;
    color: #ffffff !important;
    background-color: #01012B;
    padding: 10px !important;
    border-radius: 10px;
  }

  .hero {
    height: 100vh;
  }

  .container {
    padding-top: 0px;
  }
  .container .col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container .col1 .inner-container {
    padding-top: 20px;
  }
  .container .col1 .inner-container .col1-1 {
    text-align: center;
  }
  .container .col1 .inner-container .col1-1 p {
    font-size: 10px;
  }
  .container .col1 .inner-container .col1-1 h1 {
    font-size: 34px;
    margin-bottom: 10px;
  }
  .container .col1 .inner-container .col1-1 .btn-explore {
    display: none;
    cursor: pointer !important;
    color: #ffffff !important;
    background-color: #232323;
    font-family: "Rubik" !important;
    font-size: 9px;
    padding: 13px 28px;
    border-bottom-left-radius: 25px;
  }
  .container .col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container .col2 .inner-container img {
    margin-top: -70px;
    max-width: 180px;
  }
  .container .inner-hero {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 22px;
    text-align: center;
  }

  .content-1 {
    background-color: #01012B;
  }
  .content-1 h1 {
    text-align: left;
    width: 100%;
    padding-right: 50%;
    font-size: 32px;
  }
  .content-1 p {
    font-size: 8px;
  }

  .content-2 {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  .content-2 .inner-content-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #D20244;
    padding: 120px 0px;
  }
  .content-2 .inner-content-left h1 {
    font-size: 24px;
    width: 70%;
    text-align: center;
  }
  .content-2 .inner-content-right {
    color: #232323;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0px;
  }
  .content-2 .inner-content-right .main-carousel {
    width: 80%;
  }

  .content-3 {
    display: flex;
    flex-direction: column-reverse;
    padding: 0px;
  }
  .content-3 .inner-content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #232323;
    padding: 120px 0px;
  }
  .content-3 .inner-content-right h1 {
    font-size: 24px;
    width: 70%;
    text-align: center;
  }
  .content-3 .inner-content-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 70px 0px;
  }
  .content-3 .inner-content-left .second-carousel {
    width: 80%;
  }

  footer {
    background-color: #ffffff;
    padding: 40px 0px;
    text-transform: uppercase;
    width: 100%;
  }
  footer .container {
    display: flex;
    flex-direction: column;
  }
  footer .left {
    width: 100%;
  }
  footer .left a {
    font-size: 10px;
  }
  footer .right {
    width: 100%;
  }
  footer .right .sosmed {
    font-size: 24px !important;
    display: flex;
  }
  footer .right .sosmed a {
    font-family: "Rubik" !important;
    text-align: right !important;
    color: #232323;
    margin-right: 5px;
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
